body {
    font-family: var(--fraunces);
}

.header {

    &__title {
        color: var(--white);
        font-size: 2.7rem;
        text-transform: uppercase;
        letter-spacing: 5px;
        line-height: 1.2;
    }
}

.main {

    &__brand {
        padding: 3rem 2rem;

        &__title {
            font-size: 2rem;
            line-height: 1.2;
            font-weight: 900;
        }

        &__content {
            font-size: 1.1rem;
            font-family: var(--barlow);
            color: var(--dark-grayish-blue);
        }

        &__learn {
            text-transform: uppercase;    
        }
    }


    &__box {
        &__title.green,
        &__content.green  {
            color: var(--dark-desaturated-cyan);
        }

        &__title.blue,
        &__content.blue  {
            color: var(--dark-blue);
        }

        &__title {
            font-weight: 900;
            font-size: 2rem;
        }

        &__content {
            font-size: 1rem;
            font-family: var(--barlow);
        }
    }
}

.testimonials {

    &__title {
        color: var(--grayish-blue);
        font-family: var(--fraunces);
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: 3px;
    }
    
    &__reviews {
        list-style: none;
        padding: 0;
        margin: 0;

        &__review {

            &__img {
                border-radius: 50%;
                margin-bottom: 1rem;
                width: 75px;
                margin: 0 auto;
            }

            &__content {
                font-size: 1.1rem;
                font-family: var(--barlow);
                color: var(--very-dark-grayish-blue);
                text-align: center;
            }

            &__author {
                text-align: center;
                font-size: 1.25rem;
            }

            &__role {
                font-family: var(--barlow);
                color: var(--grayish-blue);
                text-align: center;
            }
        }
    }
}