body {
    font-family: var(--fraunces);
}

.header {

    &__nav {


        &__links {

            &__link {
                font-family: var(--barlow);
                color: var(--white);
                cursor: pointer;
                // transition: .1s ease-in-out;
            }

            &__link:hover,
            &__link:focus {
                border-bottom: 2px solid white;
            }

            .contact {
                font-family: var(--fraunces);
                color: black;
                text-transform: uppercase;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                border-bottom: none;

            }

            .contact:hover {
                color: var(--white);
                opacity: 1;
            }

            
        }

        // (Mobile Menu)
        &__menu {
            
            &__links {
                color: var(--very-dark-grayish-blue);
                font-family: var(--barlow);
                font-size: 1.2rem;
            }

            .contact {
                color: black;
                text-transform: uppercase;
                font-family: var(--fraunces);
            }
        }
    }

    &__title {
        color: var(--white);
        font-size: 2.7rem;
        text-transform: uppercase;
        letter-spacing: 5px;
        line-height: 1.2;
    }
}

.main {

    &__brand {
        padding: 3rem 2rem;

        &__title {
            font-size: 2rem;
            line-height: 1.2;
            font-weight: 900;
        }

        &__content {
            font-size: 1.1rem;
            font-family: var(--barlow);
            color: var(--dark-grayish-blue);
        }

        &__learn {
            text-transform: uppercase;    
        }
    }


    &__box {
        &__title.green,
        &__content.green  {
            color: var(--dark-desaturated-cyan);
        }

        &__title.blue,
        &__content.blue  {
            color: var(--dark-blue);
        }

        &__title {
            font-weight: 900;
            font-size: 2rem;
        }

        &__content {
            font-size: 1rem;
            font-family: var(--barlow);
        }
    }
}

.testimonials {

    &__title {
        color: var(--grayish-blue);
        font-family: var(--fraunces);
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: 3px;
    }
    
    &__reviews {
        list-style: none;
        padding: 0;
        margin: 0;

        &__review {

            &__img {
                border-radius: 50%;
                margin-bottom: 1rem;
                width: 75px;
                margin: 0 auto;
            }

            &__content {
                font-size: 1.1rem;
                font-family: var(--barlow);
                color: var(--very-dark-grayish-blue);
                text-align: center;
            }

            &__author {
                text-align: center;
                font-size: 1.25rem;
            }

            &__role {
                font-family: var(--barlow);
                color: var(--grayish-blue);
                text-align: center;
            }
        }
    }
}

.footer {
    // &__logo {

    // }

    &__nav {
        
        // &__ul {

        // }

        &__li {
            font-family: var(--barlow);
            color: var(--dark-moderate-cyan);
        }
    }
}

@media (min-width: 1000px) {

    .header {
        &__title {
            letter-spacing: 10px;
        }
    }

    .main {
        &__brand {

            &__title {
                font-size: 2.5rem;
            }
            // &__content {

            // }
            // &__learn {
                
            // }
        }
    }

    .testimonials {

        padding: 6rem;
        padding-bottom: 8rem;
    }
}